{{#*inline "page"}}
<h1>New Post</h1>
<div class="np-box">
    <input id="np-link" type="textarea" rows="1" name="link" placeholder="Post a link (optional)" />
    <input id="np-text" type="textarea" rows="3" name="text" placeholder="Write your post here" />
    <button id="np-submit">Send your daily post</button>
</div>
<script>
    document.getElementById("np-submit").onclick = async function sendPost() {
        const data = {
            link: document.getElementById("np-link").value,
            text: document.getElementById("np-text").value,
            user_id: "fc53b101-1756-4b8f-b5fe-b71d103e9f20"
        };
        console.log(data);
        const resp = await fetch("/post", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data),
        });
        console.log(resp);
    };
</script>
{{/inline}}
{{~> (parent)~}}