{{#*inline "page"}}
<h1 class="content-subhead">new post</h1>
<form class="pure-form">
    <fieldset class="pure-group">
        <input id="np-link" type="text" class="pure-input-1" placeholder="Add a link (optional)" />
        <textarea id="np-text" class="pure-input-1" placeholder="What do you want to say?"></textarea>
        <button type="button" id="np-submit" class="pure-button pure-button-primary">Send your daily
            post</button>
    </fieldset>
</form>
<!-- <div class="np-box">
    <input id="" type="textarea" rows="1" name="link" placeholder="Post a link (optional)" />
    <input id="np-text" type="textarea" rows="3" name="text" placeholder="Write your post here" />
    <button id="np-submit">Send your daily post</button>
</div> -->
<script>
    document.getElementById("np-submit").onclick = async function sendPost(event) {

        const data = {
            link: document.getElementById("np-link").value,
            text: document.getElementById("np-text").value,
            user_id: "fc53b101-1756-4b8f-b5fe-b71d103e9f20"
        };
        const resp = await fetch("/post", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data),
        });
        console.log(resp);
        if (resp.ok) {
            window.location.href = resp.headers.get("location");
        } else {
            console.log(await resp.text());
        }
        event.preventDefault();
    };
</script>
{{/inline}}
{{~> (parent)~}}