<div class="posts">
    <h1 class="content-subhead">all posts</h1>

    <!-- A single blog post -->
    {{#each posts}}
    <section class="post">
        <header class="post-header">
            <img width="48" height="48" alt="TODO: profile pic here" class="post-avatar"
                src="/img/common/tilo-avatar.png">

            <a href="{{link}}">
                <h2 class="post-title">{{link}}</h2>
            </a>

            <p class="post-meta">
                By <a href="#" class="post-author">TODO: username here</a> on <a href="#"
                    class="post-timestamp">Wednesday</a>
            </p>
        </header>

        <div class="post-description">
            <p>
                {{text}}
            </p>
        </div>
    </section>
    {{/each}}
</div>